# --------------------
# OSX Files
# --------------------

# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

*.sublime-*
*.swp
.c9
.sass-cache/

.sass-cache
.sass-cache/*

npm-debug.log

# Dev tools
node_modules

# ignore the root folder
/*

# include the docker config
!.gitignore
!README.md
!gulpfile.js
!gulp.json
!docker-compose.yml
!package.json

# except sub directories
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/cultuur-eindhoven
/wp-content/themes/cultuur-eindhoven/dist
/wp-content/themes/cultuur-eindhoven/dist/*

!/wp-content/plugins
/wp-content/plugins/*
wp-content/plugins/*
!wp-content/plugins/buzzapi
!wp-content/plugins/buzzfeed_all
!wp-content/plugins/buzzfeed_facebook
!wp-content/plugins/buzzfeed_instagram
!wp-content/plugins/buzzfeed_linkedin
!wp-content/plugins/buzzfeed_socialmedia
!wp-content/plugins/buzzfeed_twitter
!wp-content/plugins/buzzfeed_wordpress
!wp-content/plugins/buzzfeed_youtube
!wp-content/plugins/buzzfeed_rss
!wp-content/plugins/buzzfeed_pages
!wp-content/plugins/wl-push